{% extends 'base.html' %}
{% load static thumbnail %}

{% block content %}
  <section class="edition">
    <h1>
      {% with edition=edition.get_previous_by_date %}
        {% if edition.slug and not edition.concept %}
          <a class="previous" href="{{edition.get_absolute_url}}"><img draggable="false" ondragstart="return false" src="{% static 'previous.svg' %}" alt="Vorige"></a>
        {% endif %}
      {% endwith %}

      <span class="shrunk">{{edition.title}}</span>

      {% with edition=edition.get_next_by_date %}
        {% if edition.slug and not edition.concept %}
          <a class="next" href="{{edition.get_absolute_url}}"><img draggable="false" ondragstart="return false" src="{% static 'next.svg' %}" alt="Volgende"></a>
        {% endif %}
      {% endwith %}
    </h1>
    {% if edition.image %}
      <img draggable="false" ondragstart="return false" src="{{edition.image.url}}" alt="Spannende actiefoto">
    {% else %}
      <img draggable="false" ondragstart="return false" src="{% static 'placeholder.png' %}" alt="Helaas geen foto beschikbaar">
    {% endif %}
  </section>

  {% if edition.description %}
    <section class="description">
      {{edition.description|safe}}
    </section>
  {% endif %}

  <section class="performances">
    {% for performance in edition.performances.all %}
      <div>
        <a href="{{performance.artist.get_absolute_url}}">
          <div class="performance">
            <div class="image" style="background-image: url('{% thumbnail performance.artist.image 500x500 %}')"></div>
            <div class="title">
              <h1>{{performance.artist}}</h1>
              {% if performance.genre %}
                <h2>{{performance.genre}}</h2>
              {% endif %}
            </div>
          </div>
        </a>
      </div>
    {% endfor %}
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </section>

  <div class="spacer"></div>

  <h1 style="font-size: 36px">Deze editie werd mede mogelijk gemaakt door:</h1>

  <section class="participations">
    <h2>
      {% for team_member in edition.participations.all %}
        <a href="{{team_member.get_absolute_url}}">{{team_member}}</a>{% if not forloop.last %},{% endif %}
      {% endfor %}
    </h2>
  </section>

{% endblock %}

{% block extrabody %}
  {% comment %}
  <script type="module">
    import TinyGesture from "{% static 'TinyGesture.js' %}";

    document.addEventListener('DOMContentLoaded', () => {
        //const main = document.getElementById('main');
        const main = document.body;
        const gesture = new TinyGesture(main);

        {% with edition=edition.get_previous_by_date %}
        {% if edition.slug %}
        gesture.on('swiperight', () => {
            main.style.transform = 'translateX(100%)';
            main.style.opacity = '0';
            setTimeout(() => location.href = '{{edition.get_absolute_url}}', 1000);
        });
        {% endif %}
        {% endwith %}

        {% with edition=edition.get_next_by_date %}
        {% if edition.slug %}
        gesture.on('swipeleft', () => {
            main.style.transform = 'translateX(-100%)';
            main.style.opacity = '0';
            setTimeout(() => location.href = '{{edition.get_absolute_url}}', 1000);
        });
        {% endif %}
        {% endwith %}
    });
  </script>
  {% endcomment %}
{% endblock %}
