{% extends 'base.html' %}
{% load static thumbnail embed_video_tags %}

{% block title %}{{block.super}} - {{object.title}}{% endblock %}

{% block content %}
  <h2>
    {{object.tagline}}
  </h2>
  <article class="page">
    {% for section in object.sections.all %}
      <section>
        <div class="title">
          <h1>
            {{section.title}}
          </h1>
        </div>

        {% if section.image %}
          <div class="photo">
            <img alt="" src="{% thumbnail section.image 800x800 %}">
          </div>
        {% endif %}

        {% if section.video %}
          <div class="video">
            <div class="iframe">
              {% video section.video '800x600' %}
            </div>
          </div>
        {% endif %}

        {% if section.content %}
          <div class="content">
            {{section.content|safe}}
          </div>
        {% endif %}

        {% if section.button and section.hyperlink %}
          <div class="button">
            <a href="{{section.hyperlink}}" class="button">{{section.button}}</a>
          </div>
        {% endif %}

        {% if section.type == 'contact' %}
          <form action="https://inquire.rtts.eu" method="post" class="contactform">
            <input type="hidden" name="subject" value="Lamarziendan Contactformulier">
            <input type="hidden" name="redirect" value="https://www.lamarziendan.nl/thanks/">
            <input type="hidden" name="to" value="info@lamarziendan.nl">
            <table>
              <tr><th><label for="id_sender">Email:</label></th><td><input id="id_sender" name="reply_to" type="email" required></td></tr>
              <tr><th><label for="id_message">Bericht:</label></th><td>
                <textarea cols="40" id="id_message" name="get_off_my_lawn" rows="10" required></textarea>
                <textarea cols="40" id="id_message" name="message" rows="10" style="display:none"></textarea>
              </td></tr>
              <tr>
                <td></td><td>
                  <button type="submit">Verzenden</button><br>
                  <small>
                    (Dit bericht wordt verstuurd naar <a href="mailto:info@lamarziendan.nl">info@lamarziendan.nl</a>)
                  </small>
                </td>
              </tr>
            </table>
          </form>
        {% endif %}
      </section>
    {% endfor %}
  </article>
{% endblock %}
