{% extends 'base.html' %}
{% load static thumbnail %}

{% block content %}
  <section class="artist">
    <div>
      <h1>
        {{team_member.name}}
      </h1>
      {{team_member.description|safe}}
      {% if team_member.image %}
        <img class="portrait" draggable="false" ondragstart="return false" src="{{team_member.image.url}}" alt="{{team_member.name}}">
      {% endif %}

      <div class="website">
        <a href="http://www.{{team_member.slug}}.nl/">www.{{team_member.slug}}.nl</a>
      </div>
      <div class="socialmedia">
        <a href="https://www.instagram.com/"><img src="{% static 'instagram.svg' %}"></a>
        <a href="https://twitter.com/"><img src="{% static 'twitter.svg' %}"></a>
        <a href="https://www.facebook.com/"><img src="{% static 'facebook.svg' %}"></a>
        <a href="https://www.linkedin.com/"><img src="{% static 'linkedin.svg' %}"></a>
      </div>
    </div>
  </section>

  <h1>Werkte mee aan:</h1>

  {% for participation in participations %}
    {% with edition=participation.edition %}
      <a href="{{edition.get_absolute_url}}">
        <section class="edition">
          <h2>{{edition.title}}</h2>
          {% if edition.image %}
            <img draggable="false" ondragstart="return false" src="{{edition.image.url}}" alt="Spannende actiefoto">
          {% else %}
            <img draggable="false" ondragstart="return false" src="{% static 'placeholder.png' %}" alt="Helaas geen foto beschikbaar">
          {% endif %}
        </section>
      </a>
      <div class="spacer"></div>
    {% endwith %}
  {% endfor %}

{% endblock %}

