$yellow: #fdfbbf;
$small: 500px;
$medium: 800px;

html {
  min-height: 100%;
}

body {
  background-color: $yellow;
  background-image: url(/static/logo.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;

  @media(max-width: $small) {
    background-size: 90%;
  }
}
