$yellow: #fdfbbf;
$pink: #eb4072;
$blue: #343677;
$small: 500px;
$medium: 800px;

html, body {
  margin: 0;
  padding: 2%;
}

body {
  background-color: $yellow;
  background-size: 250px;
  font-family: Bariol, sans-serif;
  transition: 1s;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

main {
  max-width: 1000px;
  margin: auto;
}

header {
  text-align: center;

  img {
    width: 300px;
    max-width: 100%;
  }
}

section.edition {
  text-align: center;

  h1 {
    letter-spacing: 3px;
    font-size: 36px;
    color: $blue;
    text-transform: uppercase;
    position: relative;
    display: inline-block;
    margin: 30px 0;
    padding: 0 80px;
    max-width: 100%;
    box-sizing: border-box;
    // break-word is not supperted by Firefox...
    word-break: break-all;
    overflow-wrap: break-all;

    span.shrunk {
      display: inline-block;
      transform: scale(0.8, 1);
    }

    a {
      position: absolute;
      top: 0;
      &.previous {
        left: 0;
      }
      &.next {
        right: 0;
      }
      img {
        width: 80px;
      }
    }
  }

  > img {
    display: block;
    width: 100%;
    box-sizing: border-box;
    border: 7px solid $pink;
    border-radius: 5px;
  }
}

section.performances {
  display: flex;
  flex-wrap: wrap;
  margin: -10px;
  margin-top: 10px;

  > div {
    flex: 1 1 200px;
    overflow: hidden;

    div.performance {
      margin: 10px;
      height: 300px;
      background-color: white;

      div.image {
        height: 200px;
        background-position: center;
        background-size: cover;
      }

      div.title {
        padding: 10px;
        box-sizing: border-box;
        text-transform: uppercase;
        font-size: 24px;
        color: $pink;
      }
    }
  }
}

@font-face {
  font-family: 'Bariol';
  src: url('bariol_regular-webfont.eot');
  src: url('bariol_regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('bariol_regular-webfont.woff2') format('woff2'),
       url('bariol_regular-webfont.woff') format('woff'),
       url('bariol_regular-webfont.ttf') format('truetype'),
       url('bariol_regular-webfont.svg#bariolregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
